name: Build and deploy Node.js app to Azure Web App - plazavea-api-cloud

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Use Node.js 20
        uses: actions/setup-node@v3
        with:
          node-version: "20.x"

      - name: Install dependencies and build backend
        working-directory: backend   # <--- IMPORTANTE
        run: |
          npm install
          npm run build --if-present

      - name: Upload build artifact
        uses: actions/upload-artifact@v4
        with:
          name: node-app
          path: backend/dist   # <--- ESTE es el dist de tu backend

  deploy:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: node-app

      - name: Login to Azure
        uses: azure/login@v2
        with:
          creds: |
            {
              "clientId": "${{ secrets.AZUREAPPSERVICE_CLIENTID_38C872D18733AB12FA4E20552A637E1D }}",
              "tenantId": "${{ secrets.AZUREAPPSERVICE_TENANTID_8F9535BFB9B5DCE4F9201D7AC7EE1100 }}",
              "subscriptionId": "${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_199E9F213B80DA50E0430100007F68E2655 }}"
            }


      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: "plazavea-api-cloud"
          package: .
          startup-command: "npm start"

